@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-image: url('https://dizarimia.github.io/Happyplace/assets/images/winter-tree.jpg');
    background-size: cover;

}

/* headings and logo */

h1,
h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #160b53;

}

#logo {
    font-family: Oswald, sans-serif;
    float: left;
    font-size: 250%;
    margin-left: 1px;
    background-color: rgba(132, 239, 247, 0.4);
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(53, 15, 158);
    max-width: 50%;

}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    max-width: 50%;
    color: rgb(53, 15, 158);
    float: right;

}

#menu,
#logo {
    line-height: 75px;
    border: 1px solid rgb(56, 140, 250);
}

#menu li {
    float: right;
    list-style-type: none;
    padding-bottom: 20px;
    background-color: rgba(132, 239, 247, 0.4);
    max-height: 50px;
    text-align: right;

}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    padding: 10px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('https://dizarimia.github.io/Happyplace/assets/images/well-with-mythic-animals.jpg') no-repeat center center;
    background-size: contain;


    /* animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* <!-- not sure if i want this or not-->
#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: right;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-right: 10px;
    background-color: rgba(241, 109, 107, .9);
    bottom: 30px;
    right: 150px;
    position: absolute;
} 
*/

/* Art Mediums */

#medium-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#medium {
    height: 600px;
    color: #0939bd;
    font-weight: 700;
    font-size: large;
    padding: 5px;

}

#medium h1,
h2 {
    background-color: rgba(132, 239, 247, 0.3);
    /* ta bort sen */
    text-align: center;
    border: 1px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
    margin-bottom: 50px;


}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: rgba(255, 255, 255, 0.6);
    padding-right: 10px;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}

.right-about-heading h2 {
    text-align: center;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 5px 0;
    font-size: 250%;
    background-color: rgba(132, 239, 247, 0.4);
    border: 1px solid rgb(56, 140, 250);
    /* ta bort sen */
    padding: 2px;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border: 1px solid rgb(56, 140, 250);
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgba(37, 107, 236, 0.4);
    /* ta bort sen */
}

#circle-cover-bg {
    background: url('https://dizarimia.github.io/Happyplace/assets/images/mediums.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}

/* footer */

footer {
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 0px;
    margin-top: 2px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    left: 0;
    bottom: 0;
    width: 23%;
    background-color: rgba(41, 97, 119, 0.5);
    color: #16034b;
    font-size: 160%;
    padding: 1%;
    float: left;

}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    padding-top: 50px;
}

#photos>img {
    width: 100%;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width:1200px) {
    #medium {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium sizes from 950px wide and down */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #medium {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #photos {
        columns: 3;
    }
}

@media screen and (max-width: 800px) {
    #photos {
        columns: 2;
    }
}

@media screen and (max-width: 500px) {
    #photos {
        columns: 1;

    }
}